*.a
*.core
*.exe
*.msi
*.o
*.xz
*.zip
*~
.DS_Store
.deps
Makefile
Makefile.in
Makefile.in.in
aclocal.m4
autom4te.cache
ar-lib
compile
config.*
configure
data/spek.desktop
data/spek.desktop.in
depcomp
dist/osx/Info.plist
dist/osx/Spek.app
dist/osx/Spek.dmg
dist/win/Spek
dist/win/spek.wxs
dist/win/tests
env
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
man/spek.1
missing
mkinstalldirs
omf.make
po/*.gmo
po/.intltool-merge-cache
po/POTFILES
po/stamp-it
src/*.stamp
src/.libs
src/spek
stamp-h1
tests/.libs
tests/perf
tests/samples/perf.wav
tests/test
web/version
xmldocs.make
