*~
aclocal.m4
autom4te.cache
*.bz2
compile
config.*
configure
data/spek.desktop
data/spek.desktop.in
depcomp
.deps
.DS_Store
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
Makefile
Makefile.in
Makefile.in.in
missing
mkinstalldirs
*.msi
omf.make
po/.intltool-merge-cache
po/POTFILES
po/stamp-it
po/*.gmo
samples/
src/*.c
!src/spek-audio.c
!src/spek-fft.c
!src/spek-platform.c
src/*.o
src/*.stamp
src/spek
stamp-h1
.svn
test*
xmldocs.make
