!src/spek-audio.c
!src/spek-fft.c
!src/spek-platform.c
*.bz2
*.msi
*~
.DS_Store
.deps
.svn
Makefile
Makefile.in
Makefile.in.in
aclocal.m4
autom4te.cache
compile
config.*
configure
data/spek.desktop
data/spek.desktop.in
depcomp
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
man/spek.1
missing
mkinstalldirs
omf.make
osx/Spek.app
osx/Spek.dmg
osx/bin
po/*.gmo
po/.intltool-merge-cache
po/POTFILES
po/stamp-it
samples/
src/*.c
src/*.o
src/*.stamp
src/spek
stamp-h1
test*
xmldocs.make
