<?xml version="1.0" encoding="utf-8"?>
<?define ProductName = "Spek" ?>
<?define Manufacturer = "Spek Project" ?>
<?define ProductVersion = "0.1.0" ?>
<?define UpgradeCode = "46D51DDF-5749-45E2-818B-1ACADF21C0D9" ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="A27320AE-35AA-46D0-9CA3-E14EBF42CE66" Name="$(var.ProductName)" Language="0"
           Version="$(var.ProductVersion)" Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="301" Compressed="yes" />
    <Media Id="1" Cabinet="spek.cab" EmbedCab="yes" />
    <Property Id="ALLUSERS" Value="1" />
    <Property Id="ARPPRODUCTICON" Value="ProgramIcon" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" />
    <UIRef Id="WixUI_InstallDir" />
    <UIRef Id="WixUI_ErrorProgressText" />
    <WixVariable Id="WixUILicenseRtf" Value="LICENSE.rtf" />
    <Upgrade Id="$(var.UpgradeCode)">
      <UpgradeVersion Minimum="$(var.ProductVersion)" OnlyDetect="yes" Property="NEWVERSIONDETECTED" />
      <UpgradeVersion Minimum="0.0.0" IncludeMinimum="yes" Maximum="$(var.ProductVersion)" IncludeMaximum="no" Property="OLDERVERSIONBEINGUPGRADED" />
    </Upgrade>
    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallInitialize" />
    </InstallExecuteSequence>

    <Icon Id="ProgramIcon" SourceFile="spek.ico"/>
    <DirectoryRef Id="ProgramMenuSubfolder">
      <Component Id="StartMenuShortcut" Guid="165DF12B-D970-49BC-B07B-880B62ABC308">
        <Shortcut Id="StartMenuShortcut" Name="$(var.ProductName)" Icon="ProgramIcon" Target="[INSTALLLOCATION]bin/spek.exe" WorkingDirectory="bin"/>
        <Shortcut Id="UninstallProduct" Name="Uninstall $(var.ProductName)" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]"/>
        <RemoveFolder Id="ProgramMenuSubfolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\$(var.Manufacturer)\$(var.ProductName)" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="DesktopFolder">
      <Component Id="DesktopShortcut" Guid="ACCE1EDB-87E3-4FE5-B2BF-93113E767381">
        <Shortcut Id="DesktopShortcut" Name="$(var.ProductName)" Icon="ProgramIcon" Target="[INSTALLLOCATION]bin/spek.exe" WorkingDirectory="bin"/>
        <RegistryValue Root="HKCU" Key="Software\$(var.Manufacturer)\$(var.ProductName)" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuSubfolder" Name="$(var.ProductName)"/>
      </Directory>
      <Directory Id="DesktopFolder" />
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLLOCATION" Name="$(var.ProductName)">
          <Component Id="Main" Guid="CD5121AD-F799-4796-9DB8-0C24CA0A4C8E">
            <File Id="LICENSE.rtf" Name="LICENSE.rtf" Source="LICENSE.rtf" />
          </Component>
          <Directory Id="bin" Name="bin">
            <Merge Id="GStreamer-Libraries" Language="1033" SourceFile="x86-OSSBuild-GStreamer-Libraries.msm" DiskId="1" />
            <Merge Id="GStreamer-Plugins-Base" Language="1033" SourceFile="x86-OSSBuild-GStreamer-Plugins-Base.msm" DiskId="1" />
            <Merge Id="GStreamer-Plugins-Good" Language="1033" SourceFile="x86-OSSBuild-GStreamer-Plugins-Good.msm" DiskId="1" />
            <Merge Id="GStreamer-Plugins-Ugly-GPL" Language="1033" SourceFile="x86-OSSBuild-GStreamer-Plugins-Ugly-GPL.msm" DiskId="1" />
          </Directory>
        </Directory>
      </Directory>
    </Directory>
    <Feature Id="All" Title="$(var.ProductName)" Level="1">
      <ComponentRef Id="Main" />
      <ComponentGroupRef Id="Files" />
      <ComponentRef Id="StartMenuShortcut" />
      <ComponentRef Id="DesktopShortcut" />
      <MergeRef Id="GStreamer-Libraries" />
      <MergeRef Id="GStreamer-Plugins-Base" />
      <MergeRef Id="GStreamer-Plugins-Good" />
      <MergeRef Id="GStreamer-Plugins-Ugly-GPL" />
    </Feature>
  </Product>
</Wix>

